:root {
    --amplify-primary-color: #591c6b;
    --amplify-primary-tint: #60346d;
    --amplify-primary-shade: #31123a;
    --amplify-tertiary-color: #fbc71a;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
